[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aw-research = {editable = true,path = "."}
aw-core = {editable = true,git = "https://github.com/ActivityWatch/aw-core.git"}
aw-client = {editable = true,git = "https://github.com/ActivityWatch/aw-client.git"}
numpy = "*"
matplotlib = "*"
pydash = "*"
algorithmia = "*"
google-api-python-client = "*"
calmap = "*"
"iso8601" = "*"
pandas = "*"
pytz = "*"
joblib = "*"
toml = "*"
tabulate = "*"
togglcli = "*"

[dev-packages]
pydash = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"

[scripts]
aw_research = "python3 -m aw_research"
